In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_excel("Customer-Call-List.xlsx")

In [3]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [4]:
df.duplicated().sum()

1

In [5]:
df.drop_duplicates(inplace = True)

In [6]:
df.Phone_Number = df.Phone_Number.str.replace( '[^a-zA-Z0-9]' , '',  regex=True) 

#usei para substituir todos os caracteres que NÃO sejam letras maiúsculas, letras minúsculas ou dígitos.

In [7]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True

In [8]:
df.Phone_Number = df.Phone_Number.str.replace('[a-zA-Z]', '', regex = True) #remoção das letras

In [9]:
df.Phone_Number = df.Phone_Number = df.Phone_Number.str.strip() #para retirar os espaços

In [10]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True

In [11]:
df.Phone_Number = df.Phone_Number.replace('' , np.nan) 
#preenchi as celulas vazias por NaN, para facilitar a remoção das linhas caso seja necessario!

##### columns = 'Last_Name'

In [12]:
df[['Last_Name']]

      Last_Name
0       Baggins
1         Nadir
2        /White
3       Schrute
4          Snow
5       Swanson
6        Winger
7        Holmes
8           NaN
9        Parker
10       Gamgee
11    ...Potter
12       Draper
13        Knope
14  Flenderson_
15      Weasley
16        Scott
17         Kent
18       Braton
19    Skywalker

In [13]:
df.Last_Name = df.Last_Name.str.replace('[^a-zA-Z]', '', regex = True) 
#usei a mesma logica para retirar metacaracteres da coluna lastname


#df.Last_Name.str.rstrip('_')
#df.Last_Name.str.lstrip('123._/') poderia ser retirados dessa maneira, porém, seria bem mais demorado!

In [14]:
df.Last_Name = df.Last_Name.str.strip() #remoção de espaços desnecessarios

In [15]:
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,True

In [16]:
#df['Phone_Number'].apply(lambda x: (x[0:3]+ ')' + x[3:6] + '-' + x[6:10]))

In [17]:
df.Phone_Number = df.Phone_Number.astype(str)

In [18]:
df.Phone_Number = df['Phone_Number'].apply(lambda x: ('(' + x[0] + x[2:3] + ')' + x[3:7] + '-' + x[7:10] ))

In [19]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,(13)5455-421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,(13)6439-775,93 West Main Street,No,Yes,False
2,1003,Walter,White,(nn)-,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,(13)5432-345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,(86)6783-469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,(34)7622-467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,(nn)-,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,(86)6783-469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,(nn)-,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,(13)5455-421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,(nn)-,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,(nn)-,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,(13)5432-345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,(86)6783-469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,(34)7622-467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,(13)5455-421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,(13)6439-775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,(nn)-,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,(nn)-,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,(86)6783-469,"910 Tatooine Road, Tatooine",Yes,N,True

In [23]:
df['Phone_Number'] = df['Phone_Number'].replace("(nn)-", np.nan )

In [24]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,(13)5455-421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,(13)6439-775,93 West Main Street,No,Yes,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,(13)5432-345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,(86)6783-469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,(34)7622-467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,(86)6783-469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,NaN,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,(13)5455-421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,(13)5432-345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,(86)6783-469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,(34)7622-467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,(13)5455-421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,(13)6439-775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,NaN,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,(86)6783-469,"910 Tatooine Road, Tatooine",Yes,N,True

In [49]:
df[['Street Address', 'State', 'zip-code']] = df['Address'].str.split(",", 2, expand = True)

In [53]:
df = df[['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Street Address', 'State', 'zip-code',
       'Paying Customer', 'Do_Not_Contact',
        ]]

In [57]:
df.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number',
       'Street Address', 'State', 'zip-code', 'Paying Customer',
       'Do_Not_Contact'],
      dtype='object')

In [21]:
#df.dropna(subset=['Phone_Number'] , inplace=True)